<h6>Respostas:</h6>
<% @post.comments.each do |comment| %>

    <div class="well" style="background:LightSteelBlue">

        <p class="form-control"><strong><%= comment.username %> </strong>: <%= comment.body %>
            <%= link_to '[X]',[comment.post, comment],
            method: :delete,
            data: {confirm: 'Tem Certeza?'} %>
        </p>
        
       
    </div>

<% end %>